* {
    box-sizing: border-box;
    /*border: 1px solid green;*/
    margin: 0;
}

body {
    position: relative;
    background-color: #eaedf0;
    font-family:Arial, Helvetica, sans-serif;
}

.main-container {
    position: absolute;
    top:150px;
    right:20vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 600px;
    border: 0.5px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    width: 60%;
}

.logo-container {
    background-image: url("background.jpg");
    height: 100%;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: 20%;
    margin-bottom: 200px;
    gap: 5px;
}

.logo {
    width: 70px;
    height: 80px;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

.logo-name {
    font-family: "Norse-Bold";
    color: aliceblue;
    font-size: 60px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.para-container {
    align-items: center;
}

form {
    width: 100%;
}

.form-container {
    box-shadow: 5px 5px 15px gray;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.names,
.pass,
.contact
 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.first-name-container,
.second-name-container,
.email-container,
.tel-container,
.pass-container,
.confirm-pass-container
 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.para,
.names,
.pass,
.contact,
button,
.login
{
    margin-bottom: 15px;
    margin-left: 20px;
}

.names {
    margin-top: 15px;
}

button {
    margin-top: 30px;
}

.para {
    margin-bottom: 40px;
    font-weight: 700;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 30px;
    width: 230px;
}

label {
    font-size: 10px;
    font-family: "Roboto Mono", sans-serif;
    color: rgb(37, 37, 22);
}

input:focus {
    box-shadow: 5px 5px 15px gray;
    border-color: dodgerblue;
    outline: none;
}

button {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(3, 82, 3);
    border: none;
    color: aliceblue;
    font-weight: 600;
}

button:hover {
    box-shadow: 5px 5px 15px gray;
    translate: 2px;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(3, 82, 3);
}

a:hover {
    color: green;
}



.pass-container input:required:invalid:not(:placeholder-shown) ~ .check-icon::after {
    content: "Passwords should be between 8 and 16 characters long";
    color: red;
    position: absolute;
    font-size: 10px;
    border-color: red;
    outline: none;
  }

input[type="password"]:invalid:not(:placeholder-shown) {
    border-color: red;
    outline: none;
}